<footer class="py-5 bg-z-dark2 text-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto" style="opacity: 0.7;">
                <div class="row align-items-center">
                    <div class="col-sm-6 text-left">
                        <h4 class="mb-2">
                            <a href="https://www.instagram.com/zifro.se/" class="text-gray" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/zifro.se/" class="text-gray" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/zifro/" class="text-gray" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/zifro-playground" class="text-gray" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p class="mb-0"> &copy; Zifro AB </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</footer>
