<header class="header-homepage bg-z-dark text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="header-title">
                    För alla som vill testa att programmera
                </h1>

                <h3 class="header-subtitle">
                    Vi tycker att alla ska testa att lära sig lite programmering! Zifro är ett läromedel i Python-programmering framtaget för lärare och elever, och för alla andra som är nyfikna på programmering.
                </h3>

            </div>
        </div>
    </div>
</header>

<section id="product-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h2 class="section-title">Två sidor av läromedlet</h2>
                <h6 class="section-subtitle">
                    Zifro är ett komplett läromedel i programmering för högstadiet, med en sida för eleven och en sida för läraren.
                </h6>

                <div class="row justify-content-center mt-5">

                    <div class="col-md-5 text-center">
                        <div style="min-height: 300px;">
                            <div class="icon-wrapper">
                                <a href="#teacher">
                                    <img src="media/teacher_icon.png" class="center animated-clickable"
                                        alt="ZIFRO TEACHER" height="130px">
                                </a>
                            </div>
                            <a href="#teacher" style="color:var(--teacher-color)">
                                <h4>ZIFRO TEACHER&trade;</h4>
                            </a>
                            <p>Lärarna får allt material som behövs för att förbereda och hålla i lektioner i programmering, som en del av matematiken.</p>
                            <p><a class="btn btn-info" style="background-color:var(--teacher-color)" href="/teacher">
                                    Öppna Teacher
                                    <i class="fas fa-chevron-circle-right"></i>
                                </a></p>
                            <a href="#teacher" style="color:var(--teacher-color);">
                                <i class="fas fa-chevron-circle-down"></i>
                                Läs mer
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5 text-center">
                        <div style="min-height: 300px;">
                            <div class="icon-wrapper" style="padding-top:30px;">
                                <a href="#playground">
                                    <img src="media/playground_icon.png" class="center animated-clickable"
                                        alt="ZIFRO PLAYGROUND" height="100px">
                                </a>
                            </div>
                            <a href="#playground" style="color:var(--playground-color)">
                                <h4>ZIFRO PLAYGROUND&trade;</h4>
                            </a>
                            <p>Eleverna kodar i programmeringsspråket Python och tränar matematisk problemlösning i vår egenutvecklade kodmiljö.
                            </p>
                            <p><a class="btn btn-info" style="background-color:var(--playground-color)"
                                    href="/playground">
                                    Öppna Playground
                                    <i class="fas fa-chevron-circle-right"></i>
                                </a></p>
                            <a href="#playground" style="color:var(--playground-color);">
                                <i class="fas fa-chevron-circle-down"></i>
                                Läs mer
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="thin-section bg-z-purple text-white" id="numbers">
    <div class="container">
        <div class="row">

            <div class="col-md-10 mx-auto">

                <div class="row">
                    <div class="col-md-4 mx-auto text-center">
                        <h1>360</h1>
                        <h5>lärare från 71 kommuner har testat ZIFRO</h5>
                    </div>
                    <div class="col-md-4 mx-auto text-center">
                        <h1>200 000+</h1>
                        <h5>rader har kodats i ZIFRO PLAYGROUND</h5>
                    </div>
                    <div class="col-md-4 mx-auto text-center">
                        <h1>93</h1>
                        <h5>banor finns hittills i ZIFRO PLAYGROUND</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="bg-z-dark text-white" id="why-zifro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h2 class="section-title"> Varför ska jag använda ZIFRO? </h2>

                <div class="row m-4 align-items-center">
                    <div class="col-md-2 text-center pb-3">
                        <i class="fas fa-clock fa-4x animate-hover"></i>
                    </div>
                    <div class="col-md-10">
                        <h5 style="text-transform: uppercase;">SPARA TID</h5>
                        <p>Välj mellan våra kompletta aktiviteter och spara förberedelsetid.</p>
                    </div>
                </div>
                <div class="row m-4 align-items-center">
                    <div class="col-md-2 text-center pb-3">
                        <i class="fas fa-star fa-4x animate-hover"></i>
                    </div>
                    <div class="col-md-10">
                        <h5 style="text-transform: uppercase;">LÄR DIG PÅ VÄGEN</h5>
                        <p>Om du inte redan känner dig bekväm med programmering, så kommer du att lära dig
                            tillsammans med dina elever.</p>
                    </div>
                </div>
                <div class="row m-4 align-items-center">
                    <div class="col-md-2 text-center pb-3">
                        <i class="fas fa-rocket fa-4x animate-hover"></i>
                    </div>
                    <div class="col-md-10">
                        <h5 style="text-transform: uppercase;">INGET INLOGG</h5>
                        <p> Nu krävs inte längre något inlogg för att kunna använda ZIFRO PLAYGROUND och ZIFRO TEACHER.
                            Minimal uppstartstid! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="playground" style="padding-bottom: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <div class="section-title" style="color: var(--playground-color)">
                    <h2 class="align-left">
                        ZIFRO PLAYGROUND
                    </h2>
                    <a class="align-right btn btn-info" href="/playground"
                        style="background-color:var(--playground-color)">
                        Öppna Playground
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                    <br style="clear:both;" />
                </div>

                <p>
                    Eleverna får mycket visuellt stöd för att förstå programmeringen.
                </p>

                <div class="video-container">
                    <video muted loop id="playground-demo" class="playground-info-video" allow="autoplay">
                        <source src="media/zifro-playground_high.mp4" type="video/mp4" />
                        Din webbläsare kan ej visa denna video.
                    </video>
                </div>
                <!-- div below will only be displayed if there is a error when playing video -->

                <script>
                    $.fn.isHalfInViewport = function () {
                        var elementTop = $(this).offset().top;
                        var elementCenter = elementTop + $(this).outerHeight() / 2;

                        var viewportTop = $(window).scrollTop();
                        var viewportBottom = viewportTop + $(window).height();

                        return elementCenter >= viewportTop && elementCenter <= viewportBottom;
                    };

                    $(window).on('resize scroll', function () {
                        $('#playground-demo').each(function () {
                            if ($(this).isHalfInViewport()) {
                                $(this)[0].play();
                            } else {
                                $(this)[0].pause();
                            }
                        });
                    });

                    $('video source').last().on('error', function () {
                        $('#video-backup').show();
                        $('.video-container').hide();
                    });
                </script>
                <div id="video-backup" style="display: none">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="media/playground_ide.svg" alt="programmering i playground">
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <ul>
                                <li>
                                    <p>Eleverna kodar i programmeringsspråket Python</p>
                                </li>
                                <li>
                                    <p>Tydligt hur koden körs m.h.a. "the notional machine"</p>
                                </li>
                                <li>
                                    <p>Fel i koden ger snälla & konstruktiva felmeddelanden</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9 d-flex align-items-center">
                            <ul>
                                <li>
                                    <p>Problemen som ska lösas visualiseras med hjälp av 3D-grafik</p>
                                </li>
                                <li>
                                    <p>Matematik och programmering varvas i problemlösningen</p>
                                </li>
                                <li>
                                    <p>Problemen utgår ifrån temat "en hållbar framtid"</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <img src="media/forspelet_ikon.png" alt="aktivitet i playground" class="rounded float-right"
                                width="100%">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="teacher">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <div class="section-title" style="color: var(--teacher-color)">
                    <h2 class="align-left">
                        ZIFRO TEACHER
                    </h2>
                    <a class="align-right btn btn-info" href="/teacher" style="background-color:var(--teacher-color)">
                        Öppna Teacher
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                    <br style="clear:both;" />
                </div>

                <p class="mb-4">
                    Lärarna har allt material och stöd de behöver samlat på en plats.
                </p>

                <div class="row justify-content-around">

                    <div class="col-lg-4 text-center">
                        <div class="icon-wrapper d-flex align-items-end mb-4">
                            <img src="media/teacher_ft_codeguide.svg" alt="codeguide-icon" class="center"
                                height="120px">
                        </div>
                        <h4>Kodguide</h4>
                        <p>Med kodguiden har du som lärare möjlighet att fördjupa dig i kodkoncepten inför lektionerna.</p>
                    </div>

                    <div class="col-lg-4 text-center">
                        <div class="icon-wrapper d-flex align-items-end mb-4">
                            <img src="media/teacher_ft_activities.svg" alt="activity-icon" class="center"
                                height="140px">
                        </div>
                        <h4>Aktiviteter</h4>
                        <p>Det finns färdiga handledningar för varje aktivitet, så att det är enkelt och smidigt för lärare att hålla i en lektion i programmering.</p>
                    </div>

                    <div class="col-lg-4 text-center">
                        <div class="icon-wrapper d-flex align-items-end mb-4">
                            <img src="media/teacher_ft_results.svg" alt="results-icon" class="center" height="110px">
                        </div>
                        <h4>Resultat*</h4>
                        <p>Följ elevernas utveckling i realtid och se vilka uppgifter de klarar.<strong> *Ej tillgängligt utan konton.</strong> </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section id="quotes" class="thin-section bg-z-purple text-white">
    <div class="container">
        <div class="row">

            <div class="col-md-10 mx-auto">

                <h2 class="section-title mb-4">

                </h2>

                <div class="row">
                    <div class="quote-item col-lg-4 mx-auto text-center">
                        <blockquote class="blockquote">
                            <p class="mb-3">
                                <i class="fas fa-quote-left mr-2 text-light-opac"></i>
                                Bra lektion! Trodde aldrig jag skulle kunna f&#229; ett intresse f&#246;r
                                programmering :)
                                <i class="fas fa-quote-right ml-2 text-light-opac"></i>
                            </p>
                            <footer class="blockquote-footer text-white">
                                Elev p&#229; Alfaskolan, Solna.
                            </footer>
                        </blockquote>
                    </div>
                    <div class="quote-item col-lg-4 mx-auto text-center">
                        <blockquote class="blockquote">
                            <p class="mb-3">
                                <i class="fas fa-quote-left mr-2 text-light-opac"></i>
                                Tycker att det h&#228;r &#228;r superbra! L&#228;ngtar efter att testa ZIFRO med
                                eleverna!
                                <i class="fas fa-quote-right ml-2 text-light-opac"></i>
                            </p>
                            <footer class="blockquote-footer text-white">
                                L&#228;rare efter ZIFROs kodkv&#228;ll VT18.
                            </footer>
                        </blockquote>
                    </div>
                    <div class="quote-item col-lg-4 mx-auto text-center">
                        <blockquote class="blockquote">
                            <p class="mb-3">
                                <i class="fas fa-quote-left mr-2 text-light-opac"></i>
                                Tack f&#246;r v&#228;ldigt pedagogiskt uppl&#228;gg!
                                <i class="fas fa-quote-right ml-2 text-light-opac"></i>
                            </p>
                            <footer class="blockquote-footer text-white">
                                L&#228;rare p&#229; Sj&#246;stadsskolan, Stockholms Stad.
                            </footer>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="bg-z-dark text-white" id="about-us-story">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h2 class="section-title mb-4 text-center">
                    VÅR STORY
                </h2>

                <ul class="timeline">
                    <li class="">
                        <div class="timeline-image">
                            <h4>
                                <strong>
                                    OKT 2016
                                </strong>
                            </h4>
                            <img class="rounded-circle img-fluid" src="media/zifro_story_1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">
                                    Tanken v&#228;cks
                                </h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-white">
                                <p><strong>Sara, Jonathan och Fredrik</strong> undervisar i programmering och
                                    diskuterar mycket vilka trösklar som verkar finnas alla som börjar koda. Fredrik
                                    bestämmer sig för att ta fram en prototyp för en kodmiljö som kan coacha
                                    nybörjaren.</p>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                <strong>
                                    MAJ 2017
                                </strong>
                            </h4>
                            <img class="rounded-circle img-fluid" src="media/zifro_story_2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">
                                    Lyckade test
                                </h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-white">
                                <p>Efter en intensiv utvecklingsperiod görs nu tester med klasser på skolor. En
                                    tidig version av ZIFRO PLAYGROUND är på plats, samtidigt som den reviderade
                                    läroplanen med programmering antas.</p>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="timeline-image">
                            <h4>
                                <strong>
                                    OKT 2017
                                </strong>
                            </h4>
                            <img class="rounded-circle img-fluid" src="media/zifro_story_3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">
                                    Nya aktiviteter
                                </h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-white">
                                <p>Under hösten jobbades det hårt med att utveckla fler aktiviteter anpassade till
                                    läroplanen med högstadiet i fokus. Vi utförde tester med över <strong>400
                                        elever</strong> och undersökte vad lärare vill ha för material för att kunna
                                    hålla i lektioner.</p>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                <strong>
                                    MARS 2018
                                </strong>
                            </h4>
                            <img class="rounded-circle img-fluid" src="media/zifro_story_4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">
                                    Release!
                                </h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-white">
                                <p>Med ZIFRO TEACHER på plats kunde vi öppna upp för lärare runt om i Sverige att
                                    testa vårt läromedel i programmering och komma med idéer och feedback på hur vi
                                    ska utveckla läromedlet vidare. Vi får våra första pilotkunder.</p>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="timeline-image">
                            <h4>
                                <strong>
                                    MAJ 2019
                                </strong>
                            </h4>
                            <img class="rounded-circle img-fluid" src="media/zifro_story_5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">
                                    Open Source!
                                </h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-white">
                                <p>Vi gör Zifro Playground gratis att använda för alla och gör produkten Open
                                    Source, så att alla kan vara med och bidra till utvecklingen. </p>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4><strong>NU</strong></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="CTA" class="thin-section bg-z-purple text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h2 class="section-title"> Använd Zifro i eller utanför klassrummet</h2>
                <p>
                    Sedan den 1:a juli 2018 är programmering en del av läroplanen, vilket har satt en stor press på Sveriges lärare och skolor. Vi bakom Zifro har utvecklat uppgifter och material för att hjälpa dig som lärare att komma igång med textbaserad programmering i klassrummet.
                </p>
                <p>
                    Att använda Zifro är gratis. Vi hoppas att Sveriges lärare och elever får nytta av övningarna och bjuder in alla till att bidra till utvecklingen av mer material.
                </p>
                <p>
                    Det ska vara <strong>enkelt</strong>, <strong>roligt</strong> och <strong>givande</strong> att komma igång med programmering - för alla!
                </p>

            </div>
        </div>
    </div>
</section>

<section class="thin-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h2 class="section-title"> Var med och utveckla Zifro vidare </h2>
                <p>
                    Zifro är tillgängligt under en Open Source-licens vilket betyder att det är fritt för alla att använda och utveckla produkten. Vill du vara med och utveckla en läromiljö för programmering vidare? Det går att bidra på flera sätt - som pedagog, utvecklare eller idespruta. <a href="https://github.com/zifro-playground" class="font-weight-bold">Välkommen till vår Github-sida!</a>
                </p>
                <span>
                    <a href="https://github.com/zifro-playground" target="_blank" style="font-size: 4rem;">
                        <i class="fab fa-github"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>
